body {
  margin: 0;
  background: url('https://img.freepik.com/premium-photo/photo-abstract-purple-ink-frame-dark-background_1189966-20766.jpg');
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 5, 25);
  font-family: 'Protest Guerrilla';
}
h1 {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(88, 51, 143);
  margin-bottom: 10px;
  text-align: center;
  border: 5px solid black;
  padding: 5px;
  color: rgb(231, 226, 255);
}

main {
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 130px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
  margin-bottom: 40px;
}
.block {
  background-color: rgb(86, 47, 144);
  border: 5px solid black;
  border-radius: 10%;
}
.block:hover {
  background-color: rgb(120, 64, 231);
}

#reset {
  width: 150px;
  height: 50px;
  background-color: rgb(86, 47, 144);
  margin: 10px auto;
  display: block;
  border: 3px solid black;
  color: rgb(231, 226, 255);
  font-size: 20px;
  font-family: 'Protest Guerrilla';
}

#timer {
  background-color: rgb(86, 47, 144);
  width: 180px;
  border: 3px solid black;
  padding: 10px;
  align-self: center;
  color: rgb(231, 226, 255);
  font-size: 20px;
  font-family: 'Protest Guerrilla';
}

#playButton {
  background-color: rgb(49, 15, 101);
  width: 100px;
  color: rgb(231, 226, 255);
  font-family: 'Protest Guerrilla';
}
#pauseButton {
  background-color: rgb(49, 15, 101);
  width: 100px;
  color: rgb(231, 226, 255);
  font-family: 'Protest Guerrilla';
}
