body {
  margin: 0;
  background-color: rgb(182, 247, 234);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(251, 254, 191);
  margin-bottom: 20px;
  text-align: center;
  border: 5px solid black;
  padding: 5px;
}

main {
  margin-top: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(4, 140px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  margin-top: 60px;
}
.block {
  background-color: white;
  border: 4px solid black;
}
.block:hover {
  background-color: rgb(209, 50, 33);
}
